* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    scroll-behavior: smooth;
}

.navbar {
    background: #FE7B8F;
    display: flex;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 999;
    align-items: center;
    justify-content: center;
    
}

.navbar ul {
    display: flex;
    margin: 20px 0;
    list-style: none;
}

.navbar ul li {
    font-size: 1.1rem;
    margin: 0px 100px;
}

.navbar ul li a {
    color: white;
    font-size: 2rem;
    padding: 8px 25px;
    border: solid white 2px;
    border-radius: 4px;
    align-items: center;
}

.navbar ul li a:hover {
    color: #FEA6B3;
    transition: all 250ms ease-in-out;
    background-color: #DB5F71;
}

.portrait {
    width: 550px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    position: absolute;
    top: 10%;
    left: 10%;
} 
  /* Sparkle Big */

.sparklebig {
    width: 100px;
    -webkit-animation: fadeinout 2s linear;
    animation: fadeinout 2s linear;
    opacity: 0;
    z-index: 998;
    animation-name: sparkle1;
    animation-duration: 3s;
    animation-fill-mode: both;
    animation-iteration-count: infinite; 
}

@keyframes sparkle1 {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes sparkle1{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes sparkle1{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes sparkle1{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

  /* Sparkle Small */

.sparklesmall {
    width: 70px;
    -webkit-animation: fadeinout 1s linear;
    animation: fadeinout 1s linear;
    opacity: 0;
    z-index: 998;
    animation-name: sparkle2;
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes sparkle2 {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes sparkle2{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes sparkle2{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes sparkle2{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  
.p1 {
    position: absolute;
    left: 600px;
    top: 520px;
}

.p2 {
    position: absolute;
    left: 550px;
    top: 560px;
}

.p3 {
    position: absolute;
    left: 270px;
    top: 110px;
}

.p4 {
    position: absolute;
    left: 220px;
    top: 150px;
}



  #home {
      display: flex;
      flex-direction: column;
      background-color: #FFB6C1;
      height: 600px;
      justify-content: center;
      align-items: center;
  }

  

  .headings {
      display: flex;
      flex-direction: column;      
      border: 2px solid white;
      border-radius: 60px;
      align-items: center;
      font-size: 3rem;
      margin: 40px 0px;
      opacity: .8;
      color: white;
      padding: 50px;
      background: #FE7B8F;
  }

  .intro-text {
      display: flex;
      position: absolute;
      left: 50%;
  }

  #about {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 20px;
      margin-bottom: 50px;
      background-color: #FFB6C1;
  }

  .p5 {
      display: flex;
      position: absolute;
      right: 10px;
  }