@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'VT323', monospace;
}

main {
  position: relative;
  width: 575px;
  background-image: url("https://res.cloudinary.com/dzynqn10l/image/upload/v1633196203/Msc/pokemon-bg_ig4uv3.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
}

#pokemon-container {
  height: 355px;
}

#answer {
  display: none;
}

#bg-overlay {
  color: #fff;
  position: absolute;
  background-color: #dd1716;
  right: 25px;
  width: 170px;
  height: 170px;
  top: 60px;
  border-radius: 50%;
}

#text-overlay {
  position: absolute;
  right: 20px;
  top: 100px;
  background-color: #ffcb02;
  border: solid 7px #2c70ae;
  padding: 20px;
  min-width: 130px;
  font-size: 36px;
  letter-spacing: 1.2px;
  color: #3ea2fe;
  text-shadow: 2px 2px #1d366c;
  border-radius: 20px;
  text-align: center;
}

button {
  background: #fff;
  border: none;
  color: #3e7ae7;
  font-weight: 600;
  font-size: 14px;
  padding: 10px 36px;
  border-radius: 8px;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 4px 10px 1px;
          box-shadow: 0px 4px 10px 1px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

button:hover {
  -webkit-box-shadow: 0px 4px 10px 4px;
          box-shadow: 0px 4px 10px 4px;
  background-color: #fff6d1;
}

button.correct,
button.incorrect {
  color: #d9fcd9;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button.correct {
  background: #0dff0d;
}

button.incorrect {
  background: #ea2e25;
}

#play {
  position: absolute;
  top: -56px;
  left: 39px;
}

#pokeball {
  width: 78px;
  margin: 144px 0 0 144px;
  position: absolute;
  visibility: hidden;
  -webkit-animation: wiggle 1.35s infinite;
          animation: wiggle 1.35s infinite;
}

#pokemon-image {
  margin: 135px 0 0 140px;
  -webkit-transform: scale(2.5);
          transform: scale(2.5);
  -webkit-filter: brightness(0);
          filter: brightness(0);
  -webkit-transition: -webkit-filter .5s ease-out;
  transition: -webkit-filter .5s ease-out;
  transition: filter .5s ease-out;
  transition: filter .5s ease-out, -webkit-filter .5s ease-out;
  position: absolute;
  left: 0;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  95% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  80% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  85% {
    -webkit-transform: rotate(6deg);
            transform: rotate(6deg);
  }
  95% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
/*# sourceMappingURL=index.css.map */