.main-head {
    width: 100%;
    margin: 0 0 0 auto;
}

nav {
    @include flex(space-between, center, row);
    min-height:7vh;
    max-height: 10vh;
    width: 100%;
    background: hsl(0, 100%, 85%);
    position: sticky;
    top: 0px;
    .logo {
        @include flex(flex-start, center, row);
        flex: 1 1 10rem;
        margin: 2rem;
        svg {
            color: white;
        }
        h1 {
            margin: 2rem;
            font-size: 4rem;
            font-family: 'Sacramento', cursive;
            color: white;
            }
        }
    ul {
        @include flex(space-around, center, row);
        flex: 1 1 40rem;
        font-family: 'Akshar', sans-serif;
        a {
            color: white;
            flex-wrap: wrap;
        }
    }
}

.intro {
    min-height: 90vh;
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    @include flex(space-between, center, row);
    h2 {
        @include flex(center, center, row);
        font-size: 8rem;
        font-family: 'Sacramento', cursive;
        color: #8c0a0a;
        padding-top: 2rem;
    }
    h3{
        @include flex(center, center, row);
        font-size: 5rem;
        padding: 2rem 3rem;
        font-family: 'Akshar', sans-serif;
    }
    p {
        @include flex(center, center, row);
        padding-top: 2rem;
        font-family: 'Akshar', sans-serif;
    }
}

.intro-social {
 
    margin-top: 4rem;
    justify-content: center;
}


.portrait {
    width: 600px;
    margin-right: auto;
    pointer-events: none;
}

