@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #d8e2dc;
  font-family: 'VT323', monospace;
}

header {
  background-color: #9d8189;
}

li {
  list-style: none;
}

a {
  color: #ffe5d9;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar {
  min-height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
}

.nav-link {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-link:hover {
  color: #f4acb7;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  webkit-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #ffe5d9;
}

.portrait {
  width: 35%;
  height: auto;
  margin: 20px auto;
  border: 5px dashed #9d8189;
  border-radius: 50%;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffe5d9;
  margin: 100px;
  border: 5px dashed #9d8189;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home p {
  color: #9d8189;
  font-size: 2rem;
  margin: 30px 0 50px 0;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #9d8189;
  width: 100%;
  color: #ffe5d9;
  font-size: 1.5rem;
  padding: 20px;
  margin-top: 100px;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffe5d9;
  margin: 100px;
  border: 5px dashed #9d8189;
  border-radius: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9d8189;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project-container a {
  width: 400px;
  height: 300px;
  margin: 50px auto 50px auto;
}

.project-container a img {
  width: 40vw;
  max-width: 400px;
  min-width: 350px;
  height: 30vh;
  max-height: 300px;
  min-height: 250px;
  background-color: #ffe5d9;
  border: 5px dashed #9d8189;
  border-radius: 20px;
  margin: 50px auto 50px auto;
}

.about-container h3 {
  font-size: 3rem;
  margin: 50px;
}

.about-container p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0 5px 50px 5px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #9d8189;
    width: 100%;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .nav-item {
    margin: 16px 0;
  }
  .nav-menu.active {
    left: 0;
  }
}
/*# sourceMappingURL=styles.css.map */