@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d8e2dc;
    font-family: 'VT323', monospace;
    transition: all 0.5s ease-in;
}

header {
    background-color: #9d8189;
}

li {
    list-style: none;
}

.navbar a {
    color: #ffe5d9;
    text-decoration: none;
    font-size: 1.3rem;
}


.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.3s ease-in-out
}

.nav-link:hover {
    color: #f4acb7;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffe5d9;
}

.portrait {
    height: auto;
    margin: 20px auto;
    border: 5px dashed #9d8189;
    border-radius: 50%;
    width: 30vw;
    min-width: 200px;
    max-width: 400px;
    min-height: 250px;
    max-height: 400px;
}

.home {
    display: flex;
    width: 90vw;
    height: 70vh;
    flex-direction: column;
    background-color: #ffe5d9;
    margin: 50px auto 50px auto;
    border: 5px dashed #9d8189;
    border-radius: 10px;
    align-items: center;
    margin: 4rem;
}

.home p {
    color: #9d8189;
    font-size: 2rem;
    margin: 50px auto 50px auto;
    text-align: center;
}

footer {
    background-color: #9d8189;
    width: 100%;
    color:#ffe5d9;
    font-size: 1.5rem;
    padding: 20px;
}

.about-container {
    display: flex;
    flex-direction: column;
    background-color: #ffe5d9;
    margin: 100px;
    border: 5px dashed #9d8189;
    border-radius: 10px;
    align-items: center;
    color: #9d8189;
    padding: 5rem;
}

.project-container {
    display: flex;
    flex-direction: column;
    background-color: #ffe5d9;
    margin: 100px 50px 100px 50px;
    border:#9d8189 dashed 5px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    align-items: center;
    justify-content: center;
}

.project-container a {
    max-width: 550px;
    min-width: 250px;
    max-height: 350px;
    min-height: 150px;
    margin: 20px;
}

.project-container a img {
    max-width: 550px;
    min-width: 250px;
    max-height: 350px;
    min-height: 150px;
    border: 5px dashed #9d8189;
    border-radius: 20px;
}

.about-container h3 {
    font-size: 3rem;
    margin: 50px;
}

.about-container a {
    color:#9d8189;
    text-decoration: none;
    font-size: 2rem;
    margin: 0 0 50px 0;
    transition: all 0.5s ease-in-out;
}

.about-container a:hover {
    color: #f4acb7;
}

.about-container p {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 5px 50px 5px;
}

@media(max-width: 768px) {

    .hamburger { 
        display: block;
        position: fixed;
        right: 25px;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        flex-direction: column;
        background-color: #9d8189;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        height: 100%;
    }

    .nav-item {
        margin: auto;
    }

    .nav-menu.active {
        left: 0;
        top: 0;
        bottom: auto;
    }

    .portrait {
        min-width: 250px;
        margin: 1rem auto auto auto;
    }

    .home {
        margin: 2rem auto 3rem auto;
    }

    .home p {
        margin: auto;
        padding-bottom: 4rem;
    }

    .about-container {
        display: flex;
        margin: 15% 5%;
        font-size: 1rem;
        padding: 1rem;
    }

    .about-container a {
        text-align: center;
    }

    .project-container {
        background-color: #ffe5d9;
        margin: 5%;
        border:#9d8189 dashed 5px;
        border-radius: 20px;
        align-items: center;
        justify-content: center;
    }

    .project-container a img {
        width: 3vw;
    }

    .footer {
        bottom: 0;
        font-size: 10px;
    }
}
    
